absl-py==0.6.1
ahk==0.6.1
alabaster==0.7.12
albumentations==0.4.3
alembic==1.0.2
altgraph==0.16.1
anaconda-client==1.7.2
anaconda-navigator==1.9.2
anaconda-project==0.8.2
appdirs==1.4.3
argcomplete==1.11.1
asn1crypto==0.24.0
astor==0.7.1
astroid==2.0.4
astropy==3.0.5
atomicwrites==1.2.1
attrs==18.2.0
Automat==0.7.0
Babel==2.6.0
backcall==0.1.0
backports.os==0.1.1
backports.shutil-get-terminal-size==1.0.0
banal==0.4.0
basemap==1.2.0
beautifulsoup4==4.6.3
bitarray==0.8.3
bkcharts==0.2
blaze==0.11.3
bleach==3.0.2
bokeh==2.0.2
boto==2.49.0
boto3==1.9.243
botocore==1.12.243
Bottleneck==1.2.1
bravado==10.6.0
bravado-core==5.17.0
cachetools==4.1.0
certifi==2019.11.28
cffi==1.11.5
cftime==1.1.1
chainer==7.2.0
chardet==3.0.4
Click==7.0
click-plugins==1.1.1
cligj==0.5.0
cloudpickle==0.6.1
clyent==1.2.2
colorama==0.4.0
comtypes==1.1.7
conda==4.8.3
conda-build==3.16.2
conda-package-handling==1.6.0
constantly==15.1.0
contextlib2==0.5.5
cryptography==2.4.2
cx-Freeze==5.1.1
cycler==0.10.0
Cython==0.29
cytoolz==0.9.0.1
dask==0.20.0
datafreeze==0.1.0
dataset==1.1.0
datashape==0.5.4
decorator==4.3.0
defusedxml==0.5.0
descartes==1.1.0
dill==0.2.8.2
distributed==1.24.0
Django==2.2.10
docopt==0.6.2
docutils==0.14
entrypoints==0.2.3
enum34==1.1.10
et-xmlfile==1.0.1
fastcache==1.0.2
filelock==3.0.10
Fiona==1.8.4
Flask==0.12
Flask-BasicAuth==0.2.0
Flask-Cors==3.0.6
Flask-Executor==0.9.3
future==0.17.1
gast==0.2.0
GDAL==2.3.3
gensim==3.8.1
geographiclib==1.49
geonum==1.4.4
geopandas==0.6.3
geopy==1.18.1
gevent==1.3.7
gitdb==4.0.4
GitPython==3.1.1
glob2==0.6
google-auth==1.13.1
google-auth-oauthlib==0.4.1
GPUtil==1.4.0
gpxpy==1.4.0
greenlet==0.4.15
grpcio==1.28.1
gspread==3.1.0
gurobipy==8.1.0
h5py==2.9.0
heapdict==1.0.0
html5lib==1.0.1
httplib2==0.12.3
humanize==2.3.0
hyperlink==18.0.0
idna==2.7
image==1.5.27
imageio==2.4.1
imagesize==1.1.0
imantics==0.1.12
imgaug==0.2.6
importlib-metadata==1.6.0
imutils==0.5.2
incremental==17.5.0
inference==0.1
ipykernel==5.1.0
ipython==7.1.1
ipython-genutils==0.2.0
ipywidgets==7.4.2
isort==4.3.4
itsdangerous==1.1.0
jdcal==1.4
jedi==0.13.1
Jinja2==2.10
jmespath==0.9.4
joblib==0.13.0
JsonForm==0.0.2
jsonref==0.2
jsonschema==2.6.0
JsonSir==0.0.2
jupyter==1.0.0
jupyter-client==5.2.3
jupyter-console==6.0.0
jupyter-core==4.4.0
jupyterlab==0.35.3
jupyterlab-launcher==0.13.1
jupyterlab-server==0.2.0
kaitaistruct==0.8
Keras==2.2.4
Keras-Applications==1.0.6
Keras-Preprocessing==1.0.5
keyring==16.0.0
kitchen==1.2.6
kiwisolver==1.0.1
LatLon23==1.0.7
lazy-object-proxy==1.3.1
ldap3==2.6.1
libarchive-c==2.8
llvmlite==0.25.0
locket==0.2.0
lxml==4.2.5
macholib==1.11
Mako==1.0.7
Markdown==3.0.1
MarkupSafe==1.0
matplotlib==3.0.1
mccabe==0.6.1
menuinst==1.4.14
mgrs==1.3.6
midi==0.2.3
mido==1.2.9
mistune==0.8.4
mkl-fft==1.0.6
mkl-random==1.0.1
mock==3.0.5
monotonic==1.5
more-itertools==4.3.0
mpld3==0.3
mpmath==1.0.0
msgpack==0.5.6
msgpack-python==0.5.6
multipledispatch==0.6.0
munch==2.5.0
navigator-updater==0.2.1
nbconvert==5.3.1
nbformat==4.4.0
neptune-cli==2.8.23
neptune-client==0.4.109
netCDF4==1.4.2
networkx==2.2
nltk==3.3
normality==0.6.1
nose==1.3.7
notebook==5.7.0
numba==0.40.0
numexpr==2.6.8
numpy==1.16.4
numpydoc==0.8.0
nvector==0.7.4
nvidia-ml-py3==7.352.0
oauth2client==4.1.3
oauthlib==3.1.0
odo==0.5.1
olefile==0.46
opencv-contrib-python==4.1.0.25
opencv-python==4.2.0.32
opencv-python-headless==4.1.2.30
openpyxl==2.5.9
packaging==18.0
pandas==0.25.0
pandocfilters==1.4.2
parso==0.3.1
partd==0.3.9
path.py==11.5.0
pathlib2==2.3.0
patsy==0.5.1
pde==1.3.0
pdf2image==1.5.4
pdfrw==0.4
pefile==2018.8.8
pep8==1.7.1
pickleshare==0.7.5
Pillow==5.3.0
pkginfo==1.4.2
pluggy==0.8.0
ply==3.11
prometheus-client==0.4.2
prompt-toolkit==2.0.7
protobuf==3.6.1
psutil==5.6.6
py==1.7.0
py3nvml==0.2.6
py4j==0.10.7
pyasn1==0.4.4
pyasn1-modules==0.2.2
PyAutoGUI==0.9.42
pycodestyle==2.4.0
pycosat==0.6.3
pycparser==2.19
pycrypto==2.6.1
pycurl==7.43.0.3
pyflakes==2.0.0
pygal==2.4.0
pygal-maps-world==1.0.2
PyGetWindow==0.0.4
Pygments==2.2.0
PyHamcrest==1.9.0
PyInstaller==3.3
PyJWT==1.7.1
pykwalify==1.5.2
pylint==2.1.1
pymongo==3.7.2
PyMsgBox==1.0.6
pynput==1.4.2
pyodbc==4.0.24
pyOpenSSL==18.0.0
pyparsing==2.3.0
PyPDF2==1.26.0
pyproj==2.4.0
pyreadline==2.1
PyRect==0.1.4
pyrsistent==0.15.4
PyScreeze==0.1.20
pyshp==2.1.0
PySocks==1.6.8
pyspark==2.4.5
pytesseract==0.2.6
pytest==3.10.0
pytest-arraydiff==0.2
pytest-astropy==0.4.0
pytest-doctestplus==0.1.3
pytest-openfiles==0.3.0
pytest-remotedata==0.3.1
python-dateutil==2.7.5
Python-EasyConfig==0.1.7
python-editor==1.0.3
python-resources==0.3
pytorch-lightning==0.7.3
pytorch-nlp==0.4.1
pytorch-toolbelt==0.2.1
PyTweening==1.0.3
pytz==2018.7
PyWavelets==1.0.1
pywin32==223
pywin32-ctypes==0.2.0
pywinpty==0.5.4
PyYAML==3.13
pyzmq==17.1.2
QtAwesome==0.5.2
qtconsole==4.4.2
QtPy==1.5.2
raven==6.10.0
reportlab==3.5.21
requests==2.23.0
requests-oauthlib==1.3.0
Resource==0.2.1
rfc3987==1.3.8
rope==0.11.0
rpy2==2.9.4
rsa==4.0
Rtree==0.9.4
ruamel-yaml==0.15.46
s3transfer==0.2.1
scikit-image==0.15.0
scikit-learn==0.20.2
scipy==1.1.0
seaborn==0.9.0
Send2Trash==1.5.0
service-identity==17.0.0
Shapely==1.6.4.post2
simplegeneric==0.8.1
simplejson==3.17.0
simplification==0.4.4
singledispatch==3.4.0.3
six==1.14.0
sklearn==0.0
smart-open==1.8.4
smmap==3.0.2
snowballstemmer==1.2.1
sortedcollections==1.0.1
sortedcontainers==2.0.5
soupsieve==1.9.3
Sphinx==1.8.1
sphinxcontrib-websupport==1.1.0
spyder==3.3.1
spyder-kernels==0.2.6
SQLAlchemy==1.2.13
sqlparse==0.3.0
SRTM.py==0.3.4
statsmodels==0.9.0
strict-rfc3339==0.7
swagger-spec-validator==2.5.0
sympy==1.3
tables==3.4.4
TBB==0.1
tblib==1.3.2
tensorboard==1.14.0
tensorboard-plugin-wit==1.6.0.post3
tensorflow==1.13.1
tensorflow-estimator==1.13.0
tensorflow-gpu==1.12.0
termcolor==1.1.0
terminado==0.8.1
terminaltables==2.1.0
tesseract==0.1.3
test-tube==0.7.5
testpath==0.4.2
textblob==0.15.3
timm==0.1.14
toolz==0.9.0
torch==1.2.0
torchsummary==1.5.1
torchvision==0.4.0
tornado==5.1.1
tqdm==4.45.0
traitlets==4.3.2
Twisted==18.9.0
typed-ast==1.1.0
typing-extensions==3.7.4.1
tzlocal==1.5.1
unicodecsv==0.14.1
urllib3==1.23
utm==0.5.0
vincent==0.4.4
virtualenv==16.2.0
voluptuous==0.11.7
Wand==0.5.3
wcwidth==0.1.7
webcolors==1.11.1
webencodings==0.5.1
websocket-client==0.57.0
Werkzeug==0.14.1
widgetsnbextension==3.4.2
win-inet-pton==1.0.1
win-unicode-console==0.5
wincertstore==0.2
wrapt==1.10.11
wxPython==4.0.4
xgboost==0.81
xlrd==1.1.0
XlsxWriter==1.1.2
xlwings==0.14.0
xlwt==1.3.0
xmljson==0.2.0
xmltodict==0.12.0
zict==0.1.3
zipp==0.6.0
zope.interface==4.6.0
